# Choose either tensorflow-cpu or tensorflow-gpu
tensorflow-gpu
#tensorflow-cpu

# pytorch
torch~=1.4.1

# Others
keras
seaborn~=0.10.0
matplotlib~=3.2.1
numpy~=1.18.3
scipy
scikit-learn
pandas~=1.0.3
jupyter
pydot
# For reading excel files via pandas
xlrd

