# Install in non-conda as:
# wget https://github.com/plotly/orca/releases/download/v1.2.1/orca-1.2.1-x86_64.AppImage -O orca
# chmod +x orca
# mv </usr/bin/ or venv/bin depending on what you're doing>

pandas==1.0.3
xlrd==1.2.0
plotly==4.9.0
cufflinks==0.17.3
dash_core_components==1.10.0
geojson==2.5.0
dash_daq==0.5.0
dash==1.12.0
dash_html_components==2.0.0
geopandas==0.7.0
numpy==1.19.1

# Local
#Dashboard==0.0.6
#scripts==2.0

# mpl
matplotlib
pyqt5
# model deps
torch
